* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(232, 172, 182);
  align-items: center;
  text-align: center;
}

h1 {
  letter-spacing: 2px;
  padding: 3%;
}

.content {
  background-color: #aee7e7;
  padding: 2%;
  position: relative;
  top: 15vh;
  height: 50vh;
  margin: auto;
  max-width: 25%;
  display: grid;
  grid-template-columns: auto auto auto;
  /*  grid-auto-rows: 25px; */
  grid-gap: 5%;
  border-radius: 1%;
  border: 20px solid black;
}

.numChanger,
.numberChanger {
  border: 1px solid black;
  color: rgb(23, 18, 18);
  border-radius: 10px;
}

.content button {
  border: 3px solid rgb(5, 4, 4);
  background-color: #fff;
  color: #120e0e;
  font-size: large;
  height: 12vh;
  width: 100%;
  border-radius: 50%;
}

button:hover {
  background: black;
  color: #fff;
}

@media (max-width: 768px) {
  .content {
    width: 70vw;
    height: 50vh;
    gap: 5%;
  }

  .content button {
    width: 100%;
  }
}
